<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--cols-2">
    <picture class="block-showcase__image">
      <source
        src="images/webp"
        srcset="css/images/ipad.webp 1x, css/images/ipad@2x.webp 2x"
      />
      <source
        src="images/png"
        srcset="css/images/ipad.png 1x, css/images/ipad@2x.png 2x"
      />
      <img src="css/images/ipad.png" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero voluptates dicta excepturi vel
              perspiciatis consequuntur ab.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
